#title {
    margin: 30px;
}
body {
    text-align: center;
    margin-top: 100px;
    background-color: #3E3E3F;
    color: #EBE1F9;
    font-family: "Roboto", Helvetica;
}
.time-modifier, .session {
    line-height: 0.7;
}
p {
    display: inline;
}
#start-stop {
    padding: 25px;
}
#timer {
    font-size: 5em;
}
#sessionLength, #breakLength {
    font-size: 2.5em;
}
